-r requirements.txt

# Administration tools
pip-tools

# Linter tools
mypy
flake8-isort
pylint
docutils
pygments
bandit
black;python_version>="3.8"

# Test tools
tox
green
coveralls
pytest
nose2

autopep8

# Pypi
twine


